<div class="container">
    <div class="row mx-4">
        <app-joke *ngFor="let j of jokes"
            [data]="j" [joke]="j.setUp">
            <span class="setup">{{ j.setUp }}?</span>
            <h1 class="punchline">{{ j.punchline }}</h1>
        </app-joke>

        <button type="button"
            class="btn btn-success m-3"
            (click)="addJoke()">Add Joke
        </button>
        <button type="button"
            class="btn btn-danger"
            (click)="deleteJoke()">Clear Jokes
        </button>
    </div>
</div>